!!! 5
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %script{src: '/assets/jquery-2.1.3.min.js'}
    %script{src: '/assets/admin/bootstrap.min.js'}
    %link{href: "/assets/admin/bootstrap.min.css", rel: "stylesheet", media: "screen"}
    %link{href: '/assets/admin/login.css', rel: 'stylesheet'}
    %title Setup - Days Admin
  %body
    .container
      %form.form-login{action: "/admin/setup", method: "POST"}
        != csrf_tag
        %p
          %h2 Setup
        %p
          %input.form-control#login_name{type: 'text', name: "user[login_name]", placeholder: "Login Name (e.g. john_doe)"}
        %p
          %input.form-control#login_name{type: 'text', name: "user[name]", placeholder: "Name (e.g. John Doe)"}
        %p
          %input.form-control{type: 'password', name: "user[password]", placeholder: "Password"}
        %p
          %input.form-control{type: 'password', name: "user[password_confirmation]", placeholder: "Confirm"}
        %p
          %button.btn.btn-large.btn-primary{type: 'submit'} Go
    :javascript
      $(function() { $('#login_name').focus() })

