!!! 5
%html
  %head
    %meta{charset: 'UTF-8'}
    %script{src: '/assets/jquery-1.8.3.min.js'}
    %script{src: '/assets/bootstrap.min.js'}
    %link{href: '/assets/admin/login.css', rel: 'stylesheet'}
    %link{href: "/assets/bootstrap.min.css", rel: "stylesheet", media: "screen"}
    %title Setup - Days Admin
  %body
    .container
      %form.form-login{action: "/admin/setup", method: "POST"}
        %h2 Setup
        != csrf_tag
        %input.input-block-level#login_name{type: 'text', name: "user[login_name]", placeholder: "Login Name (e.g. john_doe)"}
        %input.input-block-level#login_name{type: 'text', name: "user[name]", placeholder: "Name (e.g. John Doe)"}
        %input.input-block-level{type: 'password', name: "user[password]", placeholder: "Password"}
        %input.input-block-level{type: 'password', name: "user[password_confirmation]", placeholder: "Confirm"}
        %button.btn.btn-large.btn-primary{type: 'submit'} Go
    :javascript
      $(function() { $('#login_name').focus() })

