.navbar-form .btn-link {
  color: rgb(153, 153, 153);
  text-shadow: none;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.form-inline {
  margin-bottom: 0px;
  margin-top: 0px;
}

.inlm {
  display: inline;
}

input.entry-title[type="text"]{
  font-size: 1.6em;
  height: auto;
}
