!!! 5
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "/assets/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/assets/admin.css", rel: "stylesheet", media: "screen"}
    %link{href: "/assets/bootstrap-responsive.min.css", rel: "stylesheet"}
    %script{src: '/assets/jquery-1.8.3.min.js'}
    %script{src: '/assets/bootstrap.min.js'}
    - if @title
      %title #{@title} - Days Admin
    - else
      %title Days Admin
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: '/admin/'} Days
          %form.navbar-form.pull-right{action: "/admin/logout", method: "POST"}
            != csrf_tag
            %button.btn.btn-link{type: 'submit'} Log out
            %a.btn.btn-primary{href: '/admin/entries/new'} New Entry

          %div.nav-collapse.collapse
            %ul.nav
              %li
                %a{href: '/admin/entries'} Entries
              %li
                %a{href: '/admin/categories'} Categories
              %li
                %a{href: '/admin/users'} Users
    != yield
